.wrapper {
    padding: 2rem;
    background-color: #f5f7ff;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.clickableRow:hover {
    cursor: pointer;
}