.wrapper {
    padding: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}