

.steps {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f0f0f0;
}

.stepContent {
    padding: 20px 0;
    min-height: 250px;
}

.actionButton {
    width: 100%;
    margin-bottom: 10px !important;
    text-align: left;
}

.dragger {
    background-color: #f9faff;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 180px;
}

.dragger:hover {
    border-color: #49BBBD !important;
}




.filePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 10px;

    width: 100%;
    overflow: hidden;
}


.filePreviewIcon {
    font-size: 38px;
    color: #00A86B;
    margin-bottom: 16px;
    flex-shrink: 0;
}


.filePreviewName {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 0;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    width: 50% !important;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;

}


.filePreviewHint {
    font-size: 14px;
    color: #888;
    margin: 4px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
