.wrapper {
    padding: 2rem 3rem;
    background-color: #fff;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 2rem;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 1.5rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.clickableRow:hover {
    cursor: pointer;
}