.container {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: #fff;
  min-height: 100vh;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #2f327d;
  margin-bottom: 2rem;
}

.table-card {
  background-color: #ffffff;


  border-radius: 0.75rem;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.05);
  overflow-x: auto;



}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;


  border-radius: 0.75rem;

}

.table-header {
  background-color: #f8f8f8;

  border-top-left-radius: 0.75rem;

  border-top-right-radius: 0.75rem;

  overflow: hidden;

}

.table-header th {
  padding: 1rem 1.5rem;

  font-size: 0.875rem;

  font-weight: 600;

  color: #6b7280;



  background-color: transparent;

  border-bottom: 1px solid #e5e7eb;

  text-align: left;
}

.table-header th:first-child {
  width: 50px;
  padding: 1rem 0.5rem;
  text-align: center;
}

.table-row {
  border-bottom: 1px solid #e5e7eb;

}

.table-row:nth-child(odd) {
  background-color: #f9fafb;

}

.table-row:last-child {
  border-bottom: none;
}

.table-row td {
  padding: 1rem 1.5rem;

  font-size: 0.875rem;

  color: #4b5563;

  white-space: nowrap;
}

.table-row td:first-child {
  width: 50px;
  padding: 1rem 0.5rem;
  text-align: center;
}

.sort-icon {
  margin-left: 0.5rem;
  width: 16px;
  height: 16px;
  color: #9ca3af;

}

.rounded-button {
  border-radius: 20px !important;
}

.modal-confirm-text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333333;

  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  gap: 0.5rem;

}

.pagination button {
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb;

  border-radius: 0.375rem;

  background-color: #ffffff;
  color: #4b5563;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0 0.25rem;

}

.pagination button:hover:not(:disabled) {
  background-color: #f3f4f6;

  border-color: #d1d5db;

}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination button.activePage {
  background-color: #4cbfb6;

  color: #ffffff;
  border-color: #4cbfb6;
  font-weight: 600;
}

.pagination .ellipsis {
  padding: 0.5rem 0.5rem;
  color: #4b5563;

  user-select: none;
  cursor: default;
}