

.sliderSection {
    width: 100%;
    padding: 40px 5% 60px 5%;

    background-color: #f9faff;

}

.swiperContainer {

    padding: 0 5% 40px 5% !important;
}


.swiperSlide {

    height: auto !important;
    padding-bottom: 10px;

}

.coachCard {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    height: 100%;
}

.paddedImageWrapper {
    padding: 12px;

}

.imageWrapper {
    position: relative;
    width: 100%;
    padding-top: 75%;

    border-radius: 12px;
    overflow: hidden;
}

.cardImage {
    object-fit: cover;
}

.cardContent {
    padding: 0px 20px 20px 20px;

}

.categoryInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.swiperContainer :global(.swiper-pagination-bullet) {
    background-color: #aaa;
    opacity: 0.7;
}

.swiperContainer :global(.swiper-pagination-bullet-active) {
    background-color: #49BBBD;
    opacity: 1;
}