.sectionWrapper {
    width: 100%;
    padding: 60px 5%;
    background-color: #fff;
    /* Màu nền chung */
}

/* Thẻ form bên trái */
.formCard {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* Tự động căn giữa */
}

/* Style cho Input Password của AntD */
.passwordInput {
    margin-bottom: 25px;
}

.passwordInput :global(.ant-input-lg) {
    padding: 12px 15px;
    border-radius: 8px;
}

/* Style cho nút Join Class */
.joinButton {
    background-color: #49BBBD;
    border-color: #49BBBD;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
    font-size: 1rem;
}

.joinButton:hover {
    background-color: #3daaaC;
    border-color: #3daaaC;
}

/* Thẻ bọc màu xanh nhạt bên phải */
.cardWrapper {
    background: #e6f7ff;
    /* Màu nền xanh nhạt */
    border-radius: 20px;
    padding: 20px;
    height: "100%";
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}